<!doctype html>
<html>
<head>
	<meta name="description" content="{{ site.description }}">
	<meta charset="UTF-8">
	<title> {% if page.title %} {{ page.title }} | {% endif %} {{ site.title }}</title>

	<!-- MOBILE SETTINGS -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="white" />

    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400" rel="stylesheet">
	<link rel="stylesheet" href="css/styles.css">

	<!-- Google Analytics -->
	
</head>
<body>

	<section>
	  {{ content }}
	</section>
</html>